#title {
    position: relative;
    text-align: center;
}
#index {
    position: relative;
    text-align: center;
}
#stats {
    position: relative;
    text-align: center;
}
#content {
    position: relative;
    text-align: center;
}
body {
    position: relative;
    padding: 5px;
    background-color: #2C2F33;
    color: white;
}
code {
    background-color: #23272A;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    display: block;
}
input[type=number]{
    width: 50px;
}