#title {
    position: relative;
    text-align: center;
}
#index {
    position: relative;
    text-align: center;
}
#stats {
    position: relative;
    text-align: center;
}
#content {
    position: relative;
    text-align: center;
}
input[type=number]{
    width: 50px;
}